{% extends 'layout/base.twig' %}
{% block content %}
	 <header>
	 	<div class="has-text-centered">
	 		<img src="\assets\images\logo.png" alt="" width="145" height="auto"> 
	 	</div>
	 	<a class="button is-primary">Button</a>
	 	<a class="button navbar-burger">
 		 <span></span>
		 <span></span>
 		 <span></span>
		</a>
	 	<nav class="navbar-tabs">
	 		<a href="#" class="navbar-item">WORK</a>
	 		<a href="#" class="navbar-item">WORK</a>
	 		<a href="#" class="navbar-item">WORK</a>
	 		<a href="#" class="navbar-item">WORK</a>
	 		<a href="#" class="navbar-item">WORK</a>
	 		<a href="#" class="navbar-item">WORK</a>
	 		<a href="#" class="navbar-item">WORK</a>
	 		<a href="#" class="navbar-item">WORK</a>
	 	</nav>	
	 </header>
	 <main>
	 	<section class="banner">
	 		<div class="highlight">
	 			<div class="columns">
	 				<div class="column highlight-item">
	 					<div class="font">
	 						<div class="font-item">
	 						HELLO
	 						</div>
	 					</div>
	 				</div>
	 			</div>
	 			<div>
	 				<div class="thumbnail">
	 					<div class="columns ">
	 						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-1.jpg);">
	 							Lorem ipsum dolar sit amet.
	 						</div>
	 						
	 						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-2.jpg);">
	 							Lorem ipsum dolar sit amet.
	 						</div>
	 						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-3.jpg);">
	 							Lorem ipsum dolar sit amet.
	 						</div>
	 						<div class="column thumbnail-item is-paddingless" style="background-image: url(/assets/images/home/banner/thumbnail-4.jpg);">
	 							Lorem ipsum dolar sit amet.
	 						</div>
	 						
	 					</div>
	 				</div>
	 			</div>
	 			
	 		</div>
	 	</section>
	 	<section class="section we-present">
			<div class="container">
				<div class="columns">
					<div class="column has-text-left">
						<a href="#">LASTEST</a>
					</div>
					<div class="column has-text-centered">
						WE PRESENT
					</div>
					<div class="column has-text-right">
						<a href="#">SEARCH</a>
					</div>
				</div>
			</div>
			<div class="columns is-multiline">
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="assets/images/home/we-preset/img-2.jpg" alt="image-1">
							</figure>
						</div>
						<div>
							<div class="card-content">
								<h5 class="category">Puuuuuuuuuuuuuuuuuuuuuublic Spaces	
								</h5>
								<h3 class="title is-spaced is-4">looooooooooorem
								</h3>
								<h4 class="subtitle is-6">บลาๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆๆ	
								</h4>
								<p>
									eaa
								</p>
							</div>
							
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="assets/images/home/we-preset/img-3.jpg" alt="image-1">
							</figure>
						</div>
						<div>
							<div class="card-content">
								<h5 class="category">Publicccccccccccccc Spaces	
								</h5>
								<h3 class="title is-spaced is-4">loreeeeeeeeem
								</h3>
								<h4 class="subtitle is-6">บลาๆqqqqqq	
								</h4>
								<p>
									eaa
								</p>
							</div>
							
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="assets/images/home/we-preset/img-4.jpg" alt="image-1">
							</figure>
						</div>
						<div>
							<div class="card-content">
								<h5 class="category">Public Spacesssssssssssss	
								</h5>
								<h3 class="title is-spaced is-4">looooooooooorem
								</h3>
								<h4 class="subtitle is-6">บลาๆ1	
								</h4>
								<p>
									eaa
								</p>
							</div>
							
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="assets/images/home/we-preset/img-5.jpg" alt="image-1">
							</figure>
						</div>
						<div>
							<div class="card-content">
								<h5 class="category">Puhhff
								</h5>
								<h3 class="title is-spaced is-4">sssssssssssss
								</h3>
								<h4 class="subtitle is-6">บลาๆ	
								</h4>
								<p>
									eaa
								</p>
							</div>
							
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="assets/images/home/we-preset/img-6.jpg" alt="image-1">
							</figure>
						</div>
						<div>
							<div class="card-content">
								<h5 class="category">ggggggg
								</h5>
								<h3 class="title is-spaced is-4">lorem
								</h3>
								<h4 class="subtitle is-6">เเเเ	
								</h4>
								<p>
									eaa
								</p>
							</div>
							
						</div>
					</div>
				</a>
				<a href="#" class="column is-one-third">
					<div class="card">
						<div class="card-image">
							<figure class="images is-3by2">
								<img src="assets/images/home/we-preset/img-1.jpg" alt="image-1">
							</figure>
						</div>
						<div>
							<div class="card-content">
								<h5 class="category">hhhhhhhhhh
								</h5>
								<h3 class="title is-spaced is-4">hhhhhhhhh
								</h3>
								<h4 class="subtitle is-6">งุงิ
								</h4>
								<p>
									eaa
								</p>
							</div>
							
						</div>
					</div>
				</a>
			</div>
		</section>
	 </main>
{% endblock %}